/*
Primary color = #73a695
Secondary color = #ffffff
Accent color = #313131
*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{    
    font-family: 'Lato', sans-serif;
}

.navbar{
    display: flex;
    background-color: #313131;
    width: 100%;
    height: 120px;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;       
}

.navbar__logo{
    height: 100px;
    margin: 10px;
}

.navbar__item{
    display: inline-block;
    margin: 50px 10px;
    padding: 0;
    font-size: 18px;
    font-weight: bold;
    list-style-type: none;   
}

.navbar__item a{
    color: #ffffff;
    text-decoration: none;
    margin: 0 20px;
    
}

.navbar__item a:hover{
    transition: all 0.7s;
    background-color: #73a695;
    color: #313131;
    border-radius: 15px;
    padding: 10px;
}

.navbar span{
    display: none;
}

main{
    
    background-color: #73a695;
}

.section__img{
    margin-top: 90px;
    width: 100%;
    height: 720px;
    object-fit: cover;
}

.section__text{
    display: flex;
    justify-content: space-between;
}

.section__titulo{
    margin: 100px;
    font-size: 100px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.section__parrafo{
    width: 60%;
    margin: 100px;
    padding-right: 50px;
    padding-top: 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: justify;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #313131;
    width: 100%;
    height: 250px;      
}

.footer__invitacion h2{
    color: #ffffff;
    font-size: 32px;
    font-weight: 200;
    margin-top: 50px;
    margin-bottom: 15px;
}

.redes__img{
    width: 50px;
    margin: 15px;    
}

.redes__img:hover{
    transition: all 0.7s;
    background-color: #73a695;
    color: #313131;
    border-radius: 15px;
    padding: 10px;
}

.footer__copyright h3{
    color: #ffffff;
    font-size: 15px;
    font-weight: 200;
    margin-top: 30px;
}


/*
SERVICIOS
*/

.section__servicios{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section__titulo-servicios {
    width: 50%;
    margin-top: 200px;
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.section__parrafo-servicios{
    width: 50%;
    margin: 50px;
    font-size: 25px;
    font-weight: 300;
    text-align: justify;
}

.section__subtitulo{
    font-size: 25px;    
    text-align: justify;
}

.cards{
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin: 50px 5px;
}

.container__cards{
    text-align: center;
    line-height: 2em;        
}

.section__card{
    height: 500px;
    width: 90%;    
    margin: 25px;
    padding: 20px;
    border: 5px solid #fff;
    border-radius: 25px;           
}

.card__icon{
    width: 100px;
    margin: 25px 50px;
}

.card__title{
    font-size: 30px;
}

.card__item{
    font-size: 15px;
    padding: 25px;
    list-style-type: none;
}

/*
PORTFOLIO
*/

.container__portfolio-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;    
}

.portfolio__title{
    margin: 200px 25px 100px;    
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
}

.portfolio__icon{
    width: 80px;
    height: 80px;
    margin: 200px 25px 100px;
}

.container__portfolio-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    gap: 5px;
}

.portfolio__item:nth-child(1) {
    grid-column-start: span 2;    
}

.portfolio__item:nth-child(2) {
    grid-row-start: span 2;    
}

.portfolio__item:nth-child(3) {
    grid-row-start: span 2;    
}

.portfolio__item:nth-child(6) {
    grid-row-start: span 2;    
}

.portfolio__item:nth-child(7) {
    grid-column-start: span 2;    
}

.portfolio__img{    
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid #fff;
    border-radius: 25px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 1);    
}

.portfolio__img{
    transition: transform 0.5s ease-in-out;
}

.portfolio__img:hover{
    filter: blur(2px);
    transform: rotate(-10deg) scale(1.1);
}

/*
EQUIPO
*/

.section__img{
    width: 100%;    
}

.title__equipo{
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-top: 50px;
    margin-left: 10px;
}

.section__title{
    margin: 50px 20px;
    font-size: 40px;
    font-weight: 400;
    text-align: center;    
    font-style: italic;
    text-transform: uppercase;
}

.article__text{
    margin: 25px;
    font-size: 18px;
    text-align: justify;
    line-height: 2em;
}

.article__subtitle{
    font-size: 32px;
    padding: 16px;
    text-decoration: underline;
}

.team{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.team__member h4{
    font-weight: bold;
    text-align: center;
    padding: 25px 0px 50px 0px;   
}

.member__icon{
    height: 350px;
    width: 400px;
    margin: 0px 20px;
    object-fit: cover;    
}

/*
CONTACTO
*/

.container__title{
    display: grid;
    grid-template-columns: repeat(2, 490px);
    justify-content: center;                 
}

.contacto__title{
    font-size: 50px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin-top: 180px;
    margin-left: 10px;
    margin-bottom: 100px;    
}

.contacto__icon{
    width: 150px;
    height: 150px;
    margin: 180px 0 50px 300px;           
}

.contacto__adress{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contacto__map{
    display: flex;
    flex-direction: column;
    justify-content: center;             
}

.map__info{
    margin: 0px 0px 0px 20px;        
}

.map__data{
    text-align: center;
    margin: 10px 10px 50px 10px;
    line-height: 1.5em;        
}

.map__data h2{
    margin-top: 20px;
    margin-bottom: 24px;
    font-size: 32px;
    font-weight: 800;    
}

.data__item{
    display: inline-block;
    padding: 10px;    
}

.contacto__form{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacto__form input {
    width: 400px;
    height: 40px;
    margin: 10px;
    padding: 0.5em 1em;
  }

.contacto__form textarea{
    margin-top: 10px;
    padding: 0.5em;
} 
  
.contacto__form button {
    margin: 10px;
    padding: 0.5em 1em;
    border: none;
    background: #313131;
    cursor: pointer;
    color: #fff;
}

/*MEDIA QUERIES
*/

/*
@media (max-width: 1400px){

}
*/

@media (max-width: 1199px){

/*INDEX*/
                    
    .navbar__item{
        font-size: 16px;
    }
              
    .section__img{
        width: 100%;
        object-fit: cover;
        padding-bottom: 50px;        
    }
        
    .section__text{
        flex-direction: column;
        justify-content: center;
    }
        
    .section__titulo{  
        margin: 0px auto 0px;      
        font-size: 70px;
    }
            
    .section__parrafo{
        width: 90%;
        padding: 30px;
        margin: 10px auto 30px;
        font-size: 22px;             
    }
        
    .footer__invitacion h2{
        color: #ffffff;
        font-size: 32px;
        margin: 40px 30px 30px 30px;
    }    
    
/*SERVICIOS*/
    
    .section__titulo-servicios{
        width: 90%;
        margin: 240px 0px 50px 0px;
        font-size: 50px;
    }
    
    .section__parrafo-servicios{
        width: 80%;
        margin: 0 auto 50px;
        font-size: 22px;    
    }
    
    .section__subtitulo{
        font-size: 24px;
    }
    
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 400px);
        justify-content: center;
        margin: 10px 0 0 10px;
                   
    }
    
/*PORTFOLIO*/
    
    .container__portfolio-header{
        display: flex;
        justify-content: center;
        align-items: center;       
    }
    
    .portfolio__title{  
        font-size: 50px;          
        margin-top: 240px;                
    }
    
    .portfolio__icon{            
        margin-top: 240px;
        margin-left: 10px;
    }
    
    .container__portfolio-items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 150px;
        padding: 20px;
        gap: 5px;
    }
    
    .portfolio__item:nth-child(1) {
        grid-column-start: span 2;    
    }
    
    .portfolio__item:nth-child(2) {
        grid-row-start: span 2;    
    }
    
    .portfolio__item:nth-child(3) {
        grid-row-start: span 2;    
    }
    
    .portfolio__item:nth-child(6) {
        grid-row-start: span 2;    
    }
    
    .portfolio__item:nth-child(7) {
        grid-column-start: span 2;    
    }
    
    .portfolio__img{    
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 5px solid #fff;
        border-radius: 25px;    
    }
    
/*EQUIPO*/
    
    .title__equipo{
        margin: 20px 0px 20px 0px;
        font-size: 50px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
    }    
    
    .section__title{
        font-size: 20px;
    }
    
    .article__text{
        font-size: 16px;
        line-height: 1.5em;
        margin-bottom: 50px;
    }
        
    .article__subtitle{
        font-size: 30px;
        text-align: center;
        margin: 20px;        
    }

    .team{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .team__member img{
        width: 340px;                                        
    }
    
    .member__icon{
        border: 10px solid #fff;
    }   
    
    .team__member h4{
        font-weight: 600;
        padding: 10px 0 40px 0;
        text-align: center;           
    }

/*CONTACTO*/

    .container__title{
        display: flex;
        justify-content: center;
    }

    .contacto__title{
        text-align: center;
        margin: 220px 20px 50px 50px;
        font-size: 45px;
    }

    .contacto__icon{
        margin-top: 230px;
        margin-right: 50px;
    }

    .contacto__adress{
        display: flex;
        flex-direction: column;
        justify-content: center;        
    }
    
    .map__info{
        margin: 0 auto;
    }
    
}

@media (max-width: 991px){

/*INDEX*/
                    
    .navbar__item{
        font-size: 14px;
    }
              
    .section__img{
        width: 100%;
        object-fit: cover;
        padding-bottom: 50px;        
    }
        
    .section__text{
        flex-direction: column;
        justify-content: center;
    }
        
    .section__titulo{  
        margin: 0px auto 0px;      
        font-size: 70px;
    }
            
    .section__parrafo{
        width: 90%;
        padding: 30px;
        margin: 10px auto 30px;
        font-size: 22px;             
    }
        
    .footer__invitacion h2{
        color: #ffffff;
        font-size: 30px;
        margin: 40px 30px 30px 30px;
    }
    
/*SERVICIOS*/
    
    .section__titulo-servicios{
        width: 90%;
        margin: 240px 0px 50px 0px;
        font-size: 50px;
    }
    
    .section__parrafo-servicios{
        width: 80%;
        margin: 0 auto 50px;
        font-size: 22px;    
    }
    
    .section__subtitulo{
        display: none;
    }
    
    .cards{
        display: grid;
        grid-template-columns: repeat(2, 350px);
        justify-content: center;
        margin: 0px 10px 0 10px;           
    }
    
/*PORTFOLIO*/
    
    .container__portfolio-header{
        display: flex;
        justify-content: center;
        align-items: center;       
    }
    
    /*.container__portfolio-items{
        display: grid;
        grid-template-columns: repeat(2, 350px);
        gap: 20px;
        align-items: center;       
    }*/
    
    .portfolio__title{  
        font-size: 50px;          
        margin-top: 240px;                
    }
    
    .portfolio__icon{            
        margin-top: 240px;
        margin-left: 10px;
    }
    
    .container__portfolio-items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 150px;
        padding: 20px;
        gap: 5px;
    }
    
    .portfolio__item:nth-child(1) {
        grid-row-start: span 2;    
    }
    
    .portfolio__item:nth-child(2) {
        grid-column-start: span 1;    
    }
    
    .portfolio__item:nth-child(3) {
        grid-row-start: span 3;    
    }
    
    .portfolio__item:nth-child(6) {
        grid-column-start: span 2;    
    }
    
    .portfolio__item:nth-child(7) {
        grid-column-start: span 3;    
    }
    
    .portfolio__img{    
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 5px solid #fff;
        border-radius: 25px;    
    }
    
/*EQUIPO*/
    
    .title__equipo{
        margin: 20px 0px 20px 0px;
        font-size: 50px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
    }    
    
    .section__title{
        font-size: 20px;
    }
    
    .article__text{
        font-size: 16px;
        line-height: 1.5em;
        margin-bottom: 50px;
    }
        
    .article__subtitle{
        font-size: 30px;
        text-align: center;
        margin: 20px;        
    }

    .team{
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .team__member img{
        width: 340px;                                        
    }
    
    .member__icon{
        border: 10px solid #fff;
    }   
    
    .team__member h4{
        font-weight: 600;
        padding: 10px 0 40px 0;
        text-align: center;           
    }

/*CONTACTO*/

    .container__title{
        display: flex;
        justify-content: center;
    }

    .contacto__title{
        text-align: center;
        margin: 220px 20px 50px 10px;
        font-size: 45px;
    }

    .contacto__icon{
        display: none;
    }

    .contacto__adress{
        display: flex;
        flex-direction: column;
        justify-content: center;        
    }
    
    .map__info{
        margin: 0 auto;
    }
    
}

@media (max-width: 767px){

/*INDEX*/
    
    .navbar{
        height: 180px;
        flex-direction: column;
        align-items: center;
    }
        
    .navbar__item{
        margin: 15px 5px;        
        font-size: 13px;
    }
          
    .section__img{
        width: 100%;
        object-fit: cover;
        padding-bottom: 50px;        
    }
    
    .section__text{
        flex-direction: column;
        justify-content: center;
    }
    
    .section__titulo{  
        margin: 0px auto 0px;      
        font-size: 75px;
    }
        
    .section__parrafo{
        width: 80%;
        padding: 40px;
        margin: 0 auto 50px;
        font-size: 22px;             
    }
    
    .footer__invitacion h2{
        color: #ffffff;
        font-size: 23px;
        margin: 50px 30px 30px 30px;
    }
    
/*SERVICIOS*/
    
    .section__titulo-servicios{
        width: 90%;
        margin: 240px 0px 50px 0px;
        font-size: 50px;
    }
    
    .section__parrafo-servicios{
        width: 80%;
        margin: 0 auto 50px;
        font-size: 22px;    
    }
    
    .section__subtitulo{
        display: none;
    }
        
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;        
        margin: 0 auto;
        padding: 0;
    }
    
    .container__cards{
        width: 350px;
    }
        
/*PORTFOLIO*/
    
    .container__portfolio-header{
        display: flex;
        justify-content: center;
        align-items: center;       
    }
    
    /*.container__portfolio-items{
        display: grid;
        grid-template-columns: repeat(2, 270px);
        gap: 15px;
        align-items: center;       
    }*/
    
    .portfolio__title{            
        margin-top: 240px;                
    }
    
    .portfolio__icon{
        margin-top: 240px;
        margin-left: 10px;
    }
    
    .container__portfolio-items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 150px;
        padding: 20px;
        gap: 5px;
    }
    
    .portfolio__item:nth-child(1) {
        grid-row-start: span 2;    
    }
    
    .portfolio__item:nth-child(2) {
        grid-column-start: span 1;    
    }
    
    .portfolio__item:nth-child(3) {
        grid-row-start: span 3;    
    }
    
    .portfolio__item:nth-child(5) {
        grid-row-start: span 1;    
    }

    .portfolio__item:nth-child(6) {
        grid-row-start: span 2;    
    }
    
    .portfolio__item:nth-child(7) {
        grid-column-start: span 3;    
    }
    
    .portfolio__img{    
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 5px solid #fff;
        border-radius: 25px;    
    }
    
/*EQUIPO*/
    
    .title__equipo{
        margin: 20px 0px 20px 0px;
        font-size: 50px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
    }
    
    .section__title{
        font-size: 20px;
    }
    
    .article__text{
        font-size: 16px;
        line-height: 1.5em;
        margin-bottom: 50px;
    }
        
    .article__subtitle{
        font-size: 30px;
        text-align: center;
        margin: 20px;        
    }
    
    .team{
        display: grid;
        grid-template-rows: repeat(6 400px);
        justify-items: center;
    }
    
    .member__icon{
        border: 10px solid #fff;
    }   
    
    .team__member h4{
        font-weight: 600;
        padding: 10px 0 40px 0;        
    }
    
/*CONTACTO*/

    .container__title{
        display: flex;
        justify-content: center;
    }

    .contacto__title{
        text-align: center;
        margin: 220px 20px 50px 10px;
        font-size: 36px;
    }

    .contacto__icon{
        display: none;
    }
    
    .contacto__adress{
        display: flex;
        flex-direction: column;
        justify-content: center;        
    }
    
    .map__info{
        margin: 0 auto;
    }
}

@media (max-width: 575px){

/*INDEX*/

    .navbar{
        height: 180px;
        flex-direction: column;
        align-items: center;
    }
    
    .navbar__item{
        margin: 15px 5px;        
        font-size: 13px;
    }
      
    .section__img{
        width: 100%;
        object-fit: cover;
        padding-bottom: 50px;        
    }

    .section__text{
        flex-direction: column;
        justify-content: center;
    }

    .section__titulo{  
        margin: 0px auto 0px;      
        font-size: 75px;
        }
    
    .section__parrafo{
        width: 80%;
        padding: 40px;
        margin: 0 auto 50px;
        font-size: 22px;             
    }

    .footer__invitacion h2{
        color: #ffffff;
        font-size: 20px;
        margin: 50px 30px 30px 30px;
    }

/*SERVICIOS*/

    .section__titulo-servicios{
        width: 90%;
        margin: 240px 0px 50px 0px;
        font-size: 50px;
    }

    .section__parrafo-servicios{
        width: 80%;
        margin: 0 auto 50px;
        font-size: 22px;    
    }

    .section__subtitulo{
        display: none;
    }
    
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;        
        margin: 0 auto;
        padding: 0;
    }

    .container__cards{
        width: 350px;
    }
    
/*PORTFOLIO*/

    .container__portfolio-header{
        display: flex;
        justify-content: center;
        align-items: center;       
    }

    /*.container__portfolio-items{
        display: grid;
        grid-template-columns: repeat(2, 250px);
        gap: 15px;
        align-items: center;       
    }*/

    .portfolio__title{            
        margin-top: 240px;                
    }

    .portfolio__icon{
        margin-top: 240px;
        margin-left: 10px;
    }

    .container__portfolio-items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 150px;
        padding: 20px;
        gap: 5px;
    }
    
    .portfolio__item:nth-child(1) {
        grid-row-start: span 2;    
    }
    
    .portfolio__item:nth-child(2) {
        grid-column-start: span 1;    
    }
    
    .portfolio__item:nth-child(3) {
        grid-row-start: span 3;    
    }
    
    .portfolio__item:nth-child(5) {
        grid-row-start: span 1;    
    }

    .portfolio__item:nth-child(6) {
        grid-row-start: span 2;    
    }
    
    .portfolio__item:nth-child(7) {
        grid-column-start: span 3;    
    }
    
    .portfolio__img{    
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 5px solid #fff;
        border-radius: 25px;    
    }

/*EQUIPO*/

    .title__equipo{
        margin: 20px 0px 20px 0px;
        font-size: 50px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
    }

    .section__title{
        font-size: 20px;
    }

    .article__text{
        font-size: 16px;
        line-height: 1.5em;
        margin-bottom: 50px;
    }
    
    .article__subtitle{
        font-size: 30px;
        text-align: center;
        margin: 20px;        
    }

    .team{
        display: grid;
        grid-template-rows: repeat(6 400px);
        justify-items: center;
    }

    .member__icon{
        border: 10px solid #fff;
    }   

    .team__member h4{
        font-weight: 600;
        padding: 10px 0 40px 0;        
    }

/*CONTACTO*/

    .container__title{
        display: flex;
        justify-content: center;
    }

    .contacto__title{
        text-align: center;
        margin: 220px 20px 50px 10px;
        font-size: 32px;
    }

    .contacto__icon{
        display: none;
    }

    .contacto__adress{
        display: flex;
        flex-direction: column;
        justify-content: center;        
    }

    .map__info{
        margin: 0 auto;
    }
}

@media (max-width: 561px){

/*INDEX*/

    .navbar{
        height: 180px;
        flex-direction: column;
        align-items: center;
    }
    
    .navbar__item{
        margin: 15px 0px;        
        font-size: 6px;
    }
      
    .section__img{
        width: 100%;
        object-fit: cover;
        padding-bottom: 50px;        
    }

    .section__text{
        flex-direction: column;
        justify-content: center;
    }

    .section__titulo{  
        margin: 0px auto 0px;      
        font-size: 25px;
        }
    
    .section__parrafo{
        width: 80%;
        padding: 40px;
        margin: 0 auto 50px;
        font-size: 14px;             
    }

    .footer__invitacion h2{
        color: #ffffff;
        font-size: 14px;
        margin: 50px 30px 30px 30px;
    }

    .redes__img{
        width: 30px;   
    }

    .footer__copyright h3{
        font-size: 12px;
    }

/*SERVICIOS*/

    .section__titulo-servicios{
        width: 90%;
        margin: 240px 0px 50px 0px;
        font-size: 25px;
    }

    .section__parrafo-servicios{
        width: 80%;
        margin: 0 auto 50px;
        font-size: 14px;    
    }

    .section__subtitulo{
        display: none;
    }
    
    .cards{
        display: flex;
        flex-direction: column;
        align-items: center;        
        margin: 0 auto;
        padding: 0;
    }

    .container__cards{
        width: 350px;
    }
    
/*PORTFOLIO*/

    .container__portfolio-header{
        display: flex;
        justify-content: center;
        align-items: center;       
    }

    /*.container__portfolio-items{
        display: grid;
        grid-template-columns: repeat(2, 250px);
        gap: 15px;
        align-items: center;       
    }*/

    .portfolio__title{            
        margin-top: 240px;                
    }

    .portfolio__title h1{            
        font-size: 30px;                
    }

    .portfolio__icon{
        width: 30px;
        height: 30px;
        margin-top: 240px;
        margin-left: 10px;
    }

    .container__portfolio-items{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 150px;
        padding: 20px;
        gap: 5px;
    }
    
    .portfolio__item:nth-child(1) {
        grid-row-start: span 2;    
    }
    
    .portfolio__item:nth-child(2) {
        grid-column-start: span 1;    
    }
    
    .portfolio__item:nth-child(3) {
        grid-row-start: span 3;    
    }
    
    .portfolio__item:nth-child(5) {
        grid-row-start: span 1;    
    }

    .portfolio__item:nth-child(6) {
        grid-row-start: span 2;    
    }
    
    .portfolio__item:nth-child(7) {
        grid-column-start: span 3;    
    }
    
    .portfolio__img{    
        width: 100%;
        height: 100%;
        object-fit: cover;
        border: 5px solid #fff;
        border-radius: 25px;    
    }

/*EQUIPO*/

    .title__equipo{
        margin: 20px 0px 20px 0px;
        font-size: 25px;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
    }

    .section__title{
        font-size: 18px;
    }

    .article__text{
        font-size: 14px;
        line-height: 1.5em;
        margin-bottom: 50px;
    }
    
    .article__subtitle{
        font-size: 20px;
        text-align: center;
        margin: 20px;        
    }

    .team{
        display: grid;
        grid-template-rows: repeat(6 400px);
        justify-items: center;
    }

    .member__icon{
        border: 10px solid #fff;
    }   

    .team__member h4{
        font-weight: 600;
        padding: 10px 0 40px 0;        
    }

/*CONTACTO*/

    .container__title{
        display: flex;
        justify-content: center;
    }

    .contacto__title{
        text-align: center;
        margin: 220px 20px 50px 10px;
        font-size: 25px;
    }

    .contacto__icon{
        display: none;
    }

    .contacto__adress{
        display: flex;
        flex-direction: column;
        justify-content: center;        
    }

    .map__info{
        position: relative;
        margin: 0 auto;
        width: 0;
        padding-bottom: 100%;
        left: 50%;
        margin-left: -50%;
    }

    .map{
        position: absolute;
        margin-left: 5px;
        width: 360px;          
    }

    .map__data h2, .data__item h3{
        font-size: 18px;
    }
    
    .form{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .textarea{
        width: 100%;    
    }


    

} 


