.footer{
    @include templateFlex(space-between);
    flex-direction: column;
    align-items: center;
    background-color: $accent;
    padding: 60px 20px;
    
    &__invitacion h2{  
        @extend .container;      
        color: $secondary;
        font-size: 32px;
        font-weight: 200;
        margin-top: 50px;
        margin-bottom: 15px;
    }

    &__copyright{    
        @extend .container;    
        color: $secondary;
        font-size: 15px;
        font-weight: 200;
        padding-top: 20px;
    }

    &__redes{
        @include templateFlex(space-between);

        .rs-facebook{
            width: 50px;
            margin: 15px;
        }
        
        .rs-instagram{
            width: 50px;
            margin: 15px;
        }
        
        .rs-twitter{
            width: 50px;
            margin: 15px;
        }
        
        .rs-twitch{
            width: 50px;
            margin: 15px;
        }
        
        .rs-youtube{
            width: 50px;
            margin: 15px;
        }

        $iconSocialMedia: (

            facebook: #3b5998,

            instagram: #c92d8f,

            twitter: #00acee,

            twitch:  #6441a5,

            youtube: #c4302b,

        );

        @each $namesocialMedia, $colorIcon in $iconSocialMedia{
            .rs-#{$namesocialMedia}{
                color: $secondary;
                font-size: 50px;
                transition: $transition;

                &:hover{
                    color: $colorIcon;
                }
            }
        }
    }
}



// MEDIA QUERIES

@media (max-width: 1199px){

    .footer__invitacion h2{
        font-size: 32px;
        margin: 40px 30px 30px 30px;
    }              
}

@media (max-width: 991px){

    .footer__invitacion h2{
        font-size: 30px;
        margin: 40px 30px 30px 30px;
    }   
}

@media (max-width: 767px){

    .footer__invitacion h2{
        font-size: 23px;
        margin: 50px 30px 30px 30px;
    }    
}    

@media (max-width: 575px){

    .footer__invitacion h2{        
        font-size: 20px;
        margin: 50px 30px 30px 30px;
    }    
}

@media (max-width: 561px){

    .footer{
        &__invitacion h2{            
            font-size: 14px;
            margin: 50px 30px 30px 30px;                
        }

        &__copyright h3{
            font-size: 10px;        
        }
    }   
    
    .redes__img{
        width: 30px;   
    }
}  